/* 
 * Colors are taken from bootstrap.
 * Check https://pikock.github.io/bootstrap-magic/
 */
body{
  background-color: #343a40;
  font-family:courier new,Courier,monospace;
  color: #2dc04e;
}

.jumbotron{
  color:#ffc107;
  background-color:#495057;
}

h1,h2,h3,h4,h5,h6{
  font-family:courier new,Courier,monospace;
  font-weight:700;
}


.footer {
  background-color:#212529;
  color:#17a2b8;
}
.footer a:active{
  color: #105261;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

