/* 
 * https://www.color-hex.com/color-palette/61235
 */
body{
  background-color: #091833;
  color: #0abdc6;
  font-family:courier new,Courier,monospace;
}

h1,h2,h3,h4,h5,h6{
  font-family:courier new,Courier,monospace;
  font-weight:700;
}


.footer {
  background-color: #133e7c;
  color: #ea00d9;
}
.footer a:active{
  color: #133e7c;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
